
<div class="container">

	<div class="row">
		<!--userinfo.create-->

		<div class="col-xs-9">
			<h2>Users</h2>
			<table class="table">
				<% @users.each do |user| %>
					<thead>
						<tr>
							<th>image</th>
							<th>name</th>
							<th colspan="3"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><%= attachment_image_tag user, :profile_image, size:"40x40", fallback: "no_image.jpg" %></td>
							<td><%= user.name %></td>
							<td><%= link_to "Show", user_path(user.id) %></td>
						</tr>
					</tbody>
				<% end %>
			</table>
		</div>
	</div>
</div>