
<% if model.errors.any? %>
  <div class="alert alert-danger">
  	<h3>--- error message ---</h3>
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>